# pip3 install -U -r requirements.txt
# conda install -y numpy opencv matplotlib tqdm pillow && conda install -y scikit-image -c conda-forge && conda install -y -c spyder-ide spyder-line-profiler
# conda install pytorch torchvision -c pytorch
numpy
opencv-python
torch >= 1.1.0
matplotlib
pycocotools
tqdm
