# pip install -U -r requirements.txt
numpy
opencv-python
torch >= 1.3
matplotlib
pycocotools
tqdm
Pillow

# Nvidia Apex (optional) for mixed precision training --------------------------
# git clone https://github.com/NVIDIA/apex && cd apex && pip install -v --no-cache-dir --global-option="--cpp_ext" --global-option="--cuda_ext" . --user && cd .. && rm -rf apex

# Tensorboard (optional) pip requirements --------------------------------------
# tb-nightly
# future

# Conda commands (in place of pip) ---------------------------------------------
# conda update -n base -c defaults conda
# conda install -yc anaconda numpy opencv matplotlib tqdm pillow ipython future
# conda install -yc conda-forge scikit-image pycocotools onnx tensorboard
# conda install -yc spyder-ide spyder-line-profiler
# conda install -yc pytorch pytorch torchvision
