# YOLOv3 requirements
# Usage: pip install -r requirements.txt
# Python >= 3.8 recommended

# Base ------------------------------------------------------------------------
gitpython>=3.1.30
matplotlib>=3.5.0
numpy>=1.23.5
opencv-python>=4.1.1
Pillow>=10.3.0
psutil>=5.9.0  # system resources
PyYAML>=5.3.1
requests>=2.32.2
scipy>=1.4.1
thop>=0.1.1  # FLOPs computation
torch>=1.8.0  # kept for CI compatibility
torchvision>=0.9.0
tqdm>=4.66.3
ultralytics>=8.2.34
# protobuf<=3.20.1  # For compatibility in export tools

# Logging ---------------------------------------------------------------------
# tensorboard>=2.4.1
# clearml>=1.2.0
# comet

# Plotting --------------------------------------------------------------------
pandas>=1.1.4
seaborn>=0.11.0

# Export (optional) -----------------------------------------------------------
# coremltools>=6.0
# onnx>=1.10.0
# onnx-simplifier>=0.4.1
# nvidia-pyindex
# nvidia-tensorrt
# scikit-learn<=1.1.2
# tensorflow>=2.4.0
# tensorflowjs>=3.9.0
# openvino-dev>=2023.0

# Deploy ----------------------------------------------------------------------
setuptools>=70.0.0  # Snyk vulnerability fix
# tritonclient[all]~=2.24.0

# Extras ----------------------------------------------------------------------
# ipython
# mss
# albumentations>=1.0.3
# pycocotools>=2.0.6
